* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

body {
  background: #b6bed7;
  position: relative;
 }

h1{
   font-size: 300%;
}

.link {
  padding-left: 18px;
  width: 100%;
}

.link a {
  /*border-left: 4px solid #222;*/
  /*margin-top: 10px;*/
  padding-left: 8px;
  width: 100%;
  color: black;
}

.menu {
  width: 100%;
  display: flex;
  align-items: center;

}


.menu * {
   text-decoration: none;
 /*  width: 100%;
   margin: 2px 20px;*/
   cursor: pointer;
   float: right;
   position: relative;
   display: inline-block;
}

#container { 
   justify-content: center;
   background-color: #707b9e;
   height: 6vh;

}

.imgContainer *{
   width: 100%;
   cursor: pointer;
   float: right;
   position: relative;
   display: inline-block;
}

.imgContainer{
      width: 100%;
      display: flex;
      align-items: center;
}

.imgContainer img {
   display: flex;
   justify-content: center;
   height: 470px;
   /*width:210px;*/
}

.imgContainer img:hover {
   transform: scale(1.03);
   box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

section div{
      cursor: pointer;

}

/*for menu icons*/
span img{
   height: 20px;
   width: 20px;
   margin-left: 10px;
}

.menu span a:hover{
  color: #b6bed7;
}


/*further links*/
.details{
   margin-left: 20px;
}


.details p, ul{
   margin-top: 5px;
   margin-left: 10px;
}
.details h2{
      margin-top: 10px;
}

th{
   background-color: #707b9e;
}

table{
   display: flex;
   justify-content:  space-around;
   align-content: stretch;  
   /*border: 2px solid black;*/
}

table img{
width: 300px;
height: 200px;
}














/*footer*/

footer{

   display: flex;
   background-color: black;
   justify-content: flex-end;
   height: 156px;
   color: gray;
   align-items: center;
 flex-direction: column;

}

footer a{
   text-decoration: none;
   color: gray;
}

footer a:hover{
   color: white;
}

footer section {
  flex-direction: row;

}

